<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Employee and Department List</title>
</head>
<body>
<h1>Employee List</h1>
<table border="1">
    <tr>
        <th>Employee No</th>
        <th>Name</th>
        <th>Job</th>
        <th>Department No</th>
    </tr>
    <tr th:each="employee : ${employees}">
        <td th:text="${employee.empno}"></td>
        <td th:text="${employee.ename}"></td>
        <td th:text="${employee.job}"></td>
        <td th:text="${employee.deptno}"></td>
    </tr>
</table>

<h1>Department List</h1>
<table border="1">
    <tr>
        <th>Department No</th>
        <th>Name</th>
        <th>Location</th>
    </tr>
    <tr th:each="department : ${departments}">
        <td th:text="${department.deptno}"></td>
        <td th:text="${department.dname}"></td>
        <td th:text="${department.loc}"></td>
    </tr>
</table>

<h1>Upload File to S3</h1>
<form action="/s3/upload" method="post" enctype="multipart/form-data">
    <input type="file" name="file" />
    <button type="submit">Upload</button>
</form>
</body>
</html>
